/* @import url(./css_reset.css); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oooh+Baby&family=Sacramento&&family=Reenie+Beanie&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
  }

body {
    text-align: center;
    background-color: #fffaf1;
    font-family: 'Crimson Pro', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-family: 'Oooh Baby', cursive;
}

h2 {
  font-family: 'Oooh Baby', cursive;
  font-family: 'Reenie Beanie', cursive;
}

form > input,
form > textarea,
form > select > option {
  font-family: 'Crimson Pro', serif;
  text-align: center;
}

form > textarea {
  text-align: left;
}

.header {
  text-decoration: none;
  color: inherit;
}

.tabs {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}